@import './inputs';

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
}

input,
textarea {
    font: inherit;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: $grey-500;
}

.page-content {
    margin-top: 100px; //compensate for header
    padding: 0 160px;
}

.label {
    font-weight: 700;
    color: $grey-500;
    font-size: 0.8rem;
}
